@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* ! ===== сброс стилей ===== */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ===== переменные ===== */
:root {
	--colorborder: rgba(0, 0, 0, 0.5);
	--colornavtext: rgba(0, 0, 0, 0.6);
	--colortext: rgba(0, 0, 0, 0.7);
	--colortexthover: rgb(0, 0, 0);
	--backgroudcolorsection: #f6f6f6;
	--buttonhover: rgba(51, 51, 153, 0.8);
	--colorbuttonscrollup: rgba(160, 160, 160, 0.5);
	--backgroundburgermenu: rgba(0, 0, 0, 0.7);
	--backgroundburgermenuhover: rgba(201, 201, 201, 0.8);
}


/* ! ===== общие стили ===== */
html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	padding: 0 10px;
	scroll-behavior: smooth;
}

.body {
	max-width: 960px;
	margin: 0 auto;
}

/* ! ===== стили секции хедер ===== */

.header {
	margin: 0px 5px 30px 5px;
}

/* ===== загальні стилі для всього блоку navigation ===== */

.navigation {
	min-height: 60px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-bottom: 2px solid var(--colorborder);

}

/* ===== стилі блоку navigation__burger ===== */

.navigation__burger {
	/* background-color: cadetblue; */

	display: none;
	position: relative;
}

.navigation__burger span {
	position: absolute;
	content: "";
	top: 18px;
	left: 7px;
	width: 25px;
	height: 2px;
	background-color: var(--colortext);
	box-shadow: 1px 1px 2px var(--colorborder);
	transition: all 0.2s linear;
}

.navigation__burger span:nth-child(1) {
	top: 10px;
}

/* .navigation__burger span:nth-child(2) {} */

.navigation__burger span:nth-child(3) {
	top: 26px;
}

.navigation.active .navigation__burger span:nth-child(1) {
	transform: translateY(8px) rotate(-45deg);
}

.navigation.active .navigation__burger span:nth-child(2) {
	opacity: 0;
}

.navigation.active .navigation__burger span:nth-child(3) {
	transform: translateY(-8px) rotate(45deg);
}

/* ===== стилі блоку navigation__logo ===== */

.navigation__logo {
	display: none;
}

/* ===== стилі блоку navigation__link ===== */

.navigation__link {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navigation__link a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.6rem;
	line-height: 2rem;
	color: var(--colornavtext);
	text-shadow: 1px 1px 2px var(--colorborder);
	border-bottom: 1px solid transparent;
	transition: all 0.3s linear;
	padding: 5px 10px;
}

.navigation__link:hover a {
	filter: blur(1px);
}

.navigation__link a:hover {
	border-bottom: 1px solid var(--colornavtext);
	color: var(--colortexthover);
	filter: blur(0);
}

/* ===== стилі блоку title ===== */

.title {
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}

.title h1 {
	color: var(--colortext);
	text-shadow: 1px 1px 2px var(--colorborder);
	font-size: 3rem;
	line-height: 4rem;
}

.title__box1,
.title__box2 {
	display: flex;
	align-items: flex-end;
	padding: 5px;

}

.title p {
	color: var(--colortext);
	text-shadow: 1px 1px 2px var(--colorborder);
	font-size: 1.8rem;
	line-height: 2.2rem;
}

/* ===== стили блока выбора языка ===== */

.language {
	font-size: 1.6rem;
	line-height: 4rem;
	transform: rotate(-90deg);
	margin-right: -25px;
	margin-bottom: 10px;

}

.language a {
	text-decoration: none;
	color: var(--colornavtext);
}

.language a:first-child {
	margin-right: 10px;
}

.language a:hover {
	color: var(--colortexthover);
}

/* ===== стили блока фото ===== */

.myfoto {
	width: 100%;
	height: 400px;
	overflow: hidden;
	box-shadow: 2px 2px 5px var(--colorborder), -2px -2px 5px var(--colorborder);
}

.myfoto img {
	width: 100%;
	filter: grayscale(1);
	transition: all 0.5s linear;
}

.myfoto img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

/* ! ====== стили секции about me ====== */

.aboutme {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--backgroudcolorsection);
	margin: 0 0 30px 0;
}

.aboutme__wrapper {
	text-align: center;
}

.aboutme h2,
.hardskills__wrapper h2,
.portfolio h2,
.footer h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin: 1em 0 1em 0;
	color: var(--colortext);
	text-shadow: 1px 1px 2px var(--colorborder);
	text-align: center;
}

.aboutme p,
.hardskills__wrapper p {
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 10px;
	color: var(--colortext);
	text-align: center;
}

/* === стили блока образование (accordion) === */

.aboutme__wrapper-accordion {
	width: 100%;
	margin-top: 50px;
	padding: 5px;
}

.accordion {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 2rem;
	color: var(--colortext);
}

.accordion-item {
	margin-bottom: 20px;
}

.accordion-item--active .accordion-item__trigger {
	background-color: rgba(255, 255, 255, 0.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.accordion-item--active .accordion-item__content {
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.accordion-item__trigger {
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: var(--colortext);
	text-shadow: 1px 1px 3px var(--colorborder);
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 5px 5px 35px;
	border-bottom: 1px solid var(--colorborder);
	cursor: pointer;

	position: relative;
}

.accordion-item__content {
	padding: 5px;
	display: none;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.accordion-item__content-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
}

.accordion-item__content p {
	font-size: 1.2rem;
}

.accordion-item__content figure {
	margin: 10px;
}

.accordion-item__content img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
	padding: 4px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
}

.accordion-item__content figcaption {
	text-align: center;
	margin-top: 10px;
}

/*  END блока образование */

/* === стили для стрелок в заглавии аккордеона === */

.accordion-item .accordion-item__trigger::before,
.accordion-item .accordion-item__trigger::after {
	content: "";
	width: 10px;
	height: 1px;
	background-color: gray;
	position: absolute;
	top: 13px;
	transition: all 0.3s ease 0s;
}

.accordion-item__trigger::before {
	transform: rotate(40deg);
	left: 5px;
}

.accordion-item__trigger::after {
	transform: rotate(-40deg);
	left: 12px;
}

.accordion-item--active .accordion-item__trigger::before,
.accordion-item--active .accordion-item__trigger::after {
	background-color: red;
}

.accordion-item--active .accordion-item__trigger::before {
	transform: rotate(-40deg);
}

.accordion-item--active .accordion-item__trigger::after {
	transform: rotate(40deg);
}

/* END стили для стрелок в заглавии аккордеона */

/* ===== стили для модального окна - фото документов ===== */

/* END стили для модального окна - фото документов */
/* ! END стили секции about me */

/* ! ===== стили секции hard skills ===== */

.hardskills {
	min-height: 500px;
	margin-top: 100px;
}

.hardskills__box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hardskills__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 10% 30px 10%;
}

.figure {
	display: block;
	margin: 10px;
	filter: grayscale(1);
	transition: all 0.3s linear;
}

.figure img {
	width: 70px;
	height: auto;
}

/* .figure img:hover {
	filter: grayscale(0);
	transform: scale(1.15);
} */

.figure:hover {
	filter: grayscale(0);
	transform: scale(1.2);
	cursor: pointer;
}


.hardskills__item figcaption {
	font-size: 1.3rem;
	color: var(--colortext);
	text-align: center;
}

/* стили блока "рейтинг" (уровень владения технологией) */
.stars {
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
	color: rgb(255, 217, 0);
}

/* ! ===== стили секции portfolio ===== */

.portfolio {
	margin-top: 50px;
	background-color: var(--backgroudcolorsection);
	padding: 50px 0;
}

.portfolio__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 40px;
}

.portfolio__wrapper a {
	text-decoration: none;
	color: var(--colortext);
	font-size: 1.3rem;
	line-height: 1.7rem;
	padding: 3px;
	border-bottom: 1px solid transparent;
	transition: all 0.5s linear;
}

.portfolio__wrapper a:hover {
	color: var(--colortexthover);
	border-bottom: 1px solid var(--colortexthover);
}

.portfolio figure {
	padding: 20px 20px 10px 20px;
	background-color: white;
	box-shadow: 1px 1px 3px var(--colorborder);
	width: 70%;
	height: auto;
	margin-bottom: 20px;
	filter: grayscale(1);
	transition: all 0.5s linear;
}

.portfolio img {
	width: 100%;
	margin-bottom: 15px;
}

.portfolio figure:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

/* стили кнопки */

.btn__wrapper {
	display: flex;
}

.btn__wrapper button {
	margin: 10px auto;
	padding: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 1px 1px 2px var(--colorborder);
}


/* ! ===== стили секции footer ===== */

.boxcontact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	margin: 20px auto;
}

.boxcontact a {
	font-size: 3.5rem;
	color: var(--colortext);
	padding: 3px;
	margin: 5px 15px;
	transition: all 0.3s linear;
}

.boxcontact a:hover {
	color: blue;
	transform: scale(1.1) rotate(10deg);
}

.copyright-wrapper {
	background-color: var(--backgroudcolorsection);
	display: flex;
	justify-content: center;
	padding: 15px 10px;
}

.copyright {
	font-size: 1.2rem;
}

.copyright i {
	margin-right: 5px;
}

/* ! footer END */

/* ! ===== стили кнопки scroll up ===== */

.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	color: var(--colorbuttonscrollup);
	cursor: pointer;
	visibility: hidden;
	border-radius: 50px;
	box-shadow: inset 0 0 0 4px var(--colorbuttonscrollup);
	opacity: 0;
	transition: 0.2s;
	transform: translateY(25px);
}

.scroll-up::before {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 20px;
	/* content: '↑'; */
	content: '▲';
}

.scroll-up:hover {
	color: orange;
}

.scroll-up--active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.scroll-up__svg-path {
	box-sizing: border-box;
	fill: none;
	stroke: orange;
	stroke-width: 4px;
	transition: 0.2s;
}

/* ! стили кнопки scroll up END */

/* ! ==================== стилі для планшету та смартфону ==================== */

@media screen and (max-width: 768px) {

	.navigation {
		justify-content: space-between;
		position: relative;
	}

	/* ===== стилі блоку navigation__burger ===== */

	.navigation__burger {
		/* border: 1px solid red; */

		display: block;
		width: 40px;
		height: 40px;
		z-index: 2;
		margin-left: 15px;
		cursor: pointer;
		transition: transform 0.3s linear;
	}

	.navigation.active .navigation__burger {
		transform: rotate(-180deg);
	}

	.navigation.active .navigation__burger span {
		background-color: #fff;
	}

	/* ===== стилі блоку navigation__logo ===== */

	.navigation__logo {
		display: inline-block;
		font-family: inherit;
		text-shadow: 1px 1px 2px var(--colorborder);
		font-size: 1.8rem;
		font-weight: 700;
	}

	.navigation__logo span {
		font-weight: 400;
		font-style: italic;
		text-transform: uppercase;
	}

	/* ===== стилі блоку navigation__link ===== */

	.navigation__link {
		/* border: 1px solid red; */
		background-color: var(--backgroundburgermenu);

		position: absolute;
		top: 0;
		left: -220px;
		width: 200px;
		padding: 70px 5px 10px 15px;
		display: flex;
		flex-direction: column;
		transition: transform 0.4s linear;
	}

	.navigation__link a {
		color: white;
		transition: transform 0.2s linear, background-color 0.3s linear;
	}

	.navigation.active .navigation__link a:hover {
		background-color: var(--backgroundburgermenuhover);
		transform: translateX(5px);
	}

	.navigation.active .navigation__link {
		transform: translateX(220px);

	}

}